* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.wrap {
  text-align: center;
}

.title {
  margin: 50px 0;
  font-size: 48px;
  text-transform: uppercase;
  color: aqua;
}

input {
  width: 344px;
  padding: 10px;
  border: 2px solid aqua;
  border-radius: 5px;
  outline-color: green;
  font-size: 28px;
  text-align: right;
}

.buttons_wrap {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  line-height: 50px;
}

.buttons_row {
  display: flex;
  justify-content: space-between;
}

.button,
.clear,
.equal {
  width: 81px;
  font-size: 32px;
  padding: 7px 0;
  margin: 3px 0;
  background-color: aqua;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  border: none;
}
